body
{
background-size: cover;
background-attachment: cover;
background-color: #000000;
font-family: Arial;
color: #ffffff;
}
header
{
background-color: #transparent;
position: fixed;
color: #ffffff;
padding: 20px;
top: 0;
left: 0;
right: 0;
}
nav
{
float: right;
}
nav a
{
color: #ffffff;
}
nav a:hover
{
color: #ffffff;
}
button a
{
color: #000000;
text-decoration: none;
font-weight: bold;
}
main
{
background-color: transparent;
margin-top: 20%;
font-size: 50px;
color: #ffffff;
padding: 10px;
}
button
{
background-color: gold;
border: 0;
border-radius: 20px;
padding: 25px;
}
h4
{
margin-top: -3%;
}
footer
{
background-color: transparent;
position: fixed;
color: #ffffff;
padding: 20px;
bottom: 0;
left: 0;
right: 0;
}
::selection
{
background-color: #ffffff;
}
